body {
    font-family: 'Ubuntu', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: bold;
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.nav-item a {
    color: white;
}

.navbar a {
    color: white;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */
.navbar-brand {
    font-weight: bold;
    font-size: 2.5rem;
}

.navbar {
    padding: 0 0 4.5rem;
}

.nav-item {
    margin-left: 18px;
}

.nav-link {
    font-family: 'Montserrat';
    font-size: 1.2rem;
}

/* Download Buttons */

.button-download {
    margin: 5% 3% 5% 0;
}

/* Title image */

.title-image {
    right: 22%;
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
}

/* Features Section */

#features {
    position: relative;
    background-color: #fff;
    font-family: 'Montserrat';
    padding-top: 6%;
    padding-bottom: 2%;
    z-index: 1;
}

.feature-para {
    text-align: center;
    color: #8f8f8f;
}

.feature-text {
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3.5rem;
}

.icon {
    color: #ea6c6c;
}

.icon:hover {
    color: #ff4c68;
}

.col-lg-4 {
    margin: 3% 0 3% 0;
}

/* Testimonials Section */

#testimonials {
    padding: 7% 15% 3% 15%;
    text-align: center;
    background-color: #ea6c6c;
    color: #fff;
}

.testimonial-text {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

.testimonial-image {
    border-radius: 100%;
    width: 10%;
    margin: 20px;
}

#press {
    background-color: #ea6c6c;
    padding-bottom: 4%;
}

.press-logo {
    width: 20%;
    margin-left: 3%;
}

.carousel-item {
    margin-bottom: 5%;
}

/* Pricing Section */

#pricing {
    padding: 4% 15%;
    text-align: center;
}

h2 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-family: 'Ubuntu';
    font-weight: bold;
}

/* Call to Action Section */

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 9% 15%;
}

.cta-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.cta-button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

/* Footer Section */

#footer {
    padding: 6% 15%;
    text-align: center;
    background-color: #fff;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: #8f8f8f;
    font-weight: 500;
}

.foot-img {
    text-align: center;
    padding: 3% 1%;
}


/* MediaQueries */

@media (max-width:991px) {

    #title {
        text-align: center;
    }

    .title-image {
        position: static;
        transform: rotate(0);
    }
}